@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

:root {
    --main-red: #cb462d;
    --main-grey: #4c5c64;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

i {
    font-style: italic;
}

.banner-box {
    width: 40vw;
    height: 100vh;
    background: url('/assets/banner-img.jpg');
    background-size: 40vw 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-box {
    height: 20vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    height: clamp(100px, 80%, 200px);
}

.logo-box h1 {
    font-family: Norse-Bold;
    font-size: 6rem;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.photo-credit {
    align-self: flex-end;
    margin: 1vh;
}

.photo-credit * {
    color: white;
    font-size: 1.5vh;
}

.form-box {
    background-color: whitesmoke;
    width: 66vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-box>div {
    padding: 6vh;
    font-size: 1.3rem;
}

.form-box p {
    margin-right: 25vh;
    padding-bottom: 3.5vh;
}

.form-box>div:first-child {
    padding-top: 12vh;
    padding-bottom: 3vh;
}

.form-box>div:nth-child(2) {
    background-color: white;
    height: 27vh;
    box-shadow: 0 2px 5px grey;
    padding: 3vh 6vh 4vh;
}

.form-box>div:nth-child(2)>p {
    padding-top: 1px;
    padding-bottom: 2vh;
}

#create-account {
    display: flex;
    flex-direction: column;
}

#create-account div {
    display: flex;
    padding-bottom: 2vh;
}

label, input {
    display: block;
}

label {
    text-transform: uppercase;
    font-size: 0.7rem;
}

input {
    padding-left: 5px;
    margin-right: 5vh;
    margin-bottom: 1vh;
    margin-top: 3px;
    width: clamp(140px, 30vh, 240px);
    height: 1.5rem;
    border: 1px solid var(--main-grey);
}

input:focus {
    outline: 0;
    box-shadow: 3px 3px 10px grey;
    border: 1px solid blue;
}

input:valid {
    border: 1px solid green;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid lightcoral;
}

input:invalid:focus:not(:placeholder-shown)~.requirements {
    max-height: 10px;
    display: block;
    position: absolute;
    width: clamp(140px, 30vh, 240px);
    margin-top: 2.5px;
}

.requirements {
    overflow: visible;
    color: red;
    display: none;
    font-size: 1vh;
}

button {
    background-color: var(--main-red);
    color: white;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px grey;
}

.form-box>div:last-child>p {
    font-size: 1.7vh;
}

.form-box>div:last-child>p>a:link,
.form-box>div:last-child>p>a:visited,
.form-box>div:last-child>p>a:hover,
.form-box>div:last-child>p>a:active {
    color: var(--main-red);
    text-decoration: none;
}